<!doctype html>
<html lang="en">

<head>
    {% extends 'base.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/Estilo.css">

    {% block titulo %}
      <title>Inicio</title>
    {% endblock %}

</head>

<body>
    {% block body %}
    <!--CARRUCEL-->
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/DISEÑO/C01.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/img/DISEÑO/C02.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/img/DISEÑO/C03.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../static/img/DISEÑO/C04.png" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="" style=" text-align: center; background-color: rgb(32, 32, 32)">
            <h3 style="color: whitesmoke; text-shadow: black;">Nuevos</h3>
        </div>

        <!--CARTAS-->
        <div class="container justify-content-center">
            <div class="row" style="background-color: whitesmoke; padding-top: 2%; padding-left: 2%; padding-right: 2%; padding-bottom: 2%;">
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/GPU/gpu amd 6800xt.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Tarjeta de video AMD 6800XT OC 16 GB DDR8</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 2-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/GPU/gpu nvd 3070.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Tarjeta de video NVIDIA RTX 3070 OC 16 GB DDR8</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 3-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/GPU/gpu nvd.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Tarjeta de video NVIDIA GTX 1660 TI GXOC 8 GB DDR6</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 4-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/GPU/gpu palit.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Tarjeta de video PALIT RTX 3080 OC 10 GB DDR8</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 5-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/CPU/cpu intel i7.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">CPU Intel i7-10700k 8-Core 3.8 Ghz</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 6-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/CPU/cpu r5 3600x.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Procesador Ryzen 5 3600x 6 núcleos 12 hilos - 3.8Ghz</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 7-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/MB/mb asus.png" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Motherborad B550-f Gaming Rog Strix</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 8-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram color.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Colorful DDR4 8gb 3000mhz</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 9-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram corsair.png" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Corsair 16Gb 2x8GB 3000mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 10-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram gskill.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Gskill 16gb 2x8GB 3200mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 11-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram hpx.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM HyperX 16gb 2x8GB 3600mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 12-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram tforce.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Tforce 16gb 2x8GB 3000mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 13-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/SSD/ssd samsung.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Disco sólido SSD 860 EVO 120 Gb</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 14-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/PSU/psu tt.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">PSU TT RGB 850W plus GOLD</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 15-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/M.2/m2 wester digital.png" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title"> Nvme M.2 Western Digital Ssd 240 Gbs </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 16-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/M.2/m2 barracuda.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Nvme M.2 barracuda Ssd 240 Gbs</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                   
    {% endblock %}

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>

</html>