<!doctype html>
<html lang="en">
  <head>
    {% extends 'base.html' %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    {% block titulo %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container">
        <!--CARTAS-->
        <div class="container justify-content-center">
            <div class="row" style="background-color: whitesmoke; padding-top: 2%; padding-left: 2%; padding-right: 2%; padding-bottom: 2%;">
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram color.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Colorful DDR4 8gb 3000mhz</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 1-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram corsair.png" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Corsair 16Gb 2x8GB 3000mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 2-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram gskill.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Gskill 16gb 2x8GB 3200mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 3-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram hpx.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM HyperX 16gb 2x8GB 3600mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
                <!--CARTA 4-->
                <div class="col-md-3">
                    <div class="card border-dark text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img src="../static/img/RAM/ram tforce.jpg" class="card-img-top" alt="...">
                        <div class="card-header">
                            <h5 class="card-title">Memoria RAM Tforce 16gb 2x8GB 3000mhz DDR4</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">                               
                                Fabricante:<br>
                                <br>
                                Precio:<br>
                                <br>
                                Stock:<br>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link">Agregar</a>
                            <a href="#" class="card-link">Ver</a>
                        </div>
                    </div>
                </div>
    {% endblock %}






    <!--SCRIPTS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>